<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="stylesheet" href="/styles/admin.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link href="https://fonts.cdnfonts.com/css/glacial-indifference-2" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/297d42265a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="sidebar-menu">
      <ul>
        <li><a href="#">Themes</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
    <div class="main-content">
      <% if(currentPage === "themes") { %> <%if (dataArray.length !== 0) { %> <% let index = 0; %> <% dataArray.forEach((result) => { %>
      <div class="event-container">
        <div class="theme-name-container"><h4><%= result.themeName %></h4></div>
        <div class="theme-description">
          <div class="information-title">Theme Information</div>
          <div class="theme-information"><%= result.themeInformation %></div>
        </div>
        <div class="event-image-container">
          <img src="<%= result.image_url %>" alt="Image Theme <%= index + 1 %>" />
        </div>
        <div class="event-time-period">
          <div class="information-title">Time Period</div>
          <% const options = {year: 'numeric', month: 'long' }; %>
          <div class="time-period-information">
            <%= result.startDateTime.toLocaleDateString(undefined, options) %><br />
            to <br />
            <%= result.endDateTime.toLocaleDateString(undefined, options) %>
          </div>
        </div>
        <div class="icon-section">
          <div class="icon-container">
            <i
              class="fa-regular fa-pen-to-square fa-xl"
              style="color: #f5cb5c"
              data-icon-type="edit-icon"
              data-theme-name="<%=result.themeName %>"
              data-theme-information="<%=result.themeInformation %>"
              data-start-date-time="<%=result.startDateTime %>"
              data-end-date-time="<%=result.endDateTime %>"
              data-image-url="<%= result.image_url %>"
            ></i>
          </div>
          <div class="icon-container">
            <i class="fa-regular fa-trash-can fa-xl" style="color: #f5cb5c"></i>
          </div>
        </div>
      </div>
      <% index++; %> <% }); %> <% } %> <% } %>
      <!-- <h1>test</h1> -->
    </div>
    <%- include('../partials/modal') %>
  </body>
</html>
