<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="stylesheet" href="/styles/admin.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/node_modules/filepond/dist/filepond.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&family=Schoolbell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/glacial-indifference-2" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/297d42265a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="/node_modules/filepond/dist/filepond.css" />
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
  </head>
  <body>
    <div class="sidebar-menu">
      <ul>
        <li><a href="#">Themes</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
    <div class="main-content">
      <% if(currentPage === "themes") { %> <%if (dataArray.length !== 0) { %> <% let index = 0; %> <% dataArray.forEach((result) => { %>
      <div class="event-container">
        <div class="theme-name-container"><h4><%= result.themeName %></h4></div>
        <div class="theme-description">
          <div class="information-title">Theme Information</div>
          <div class="theme-information"><%= result.themeInformation %></div>
        </div>
        <div class="event-image-container">
          <img src="<%= result.image_url %>" alt="Image Theme <%= index + 1 %>" />
        </div>
        <div class="event-time-period">
          <div class="information-title">Time Period</div>
          <% const options = {year: 'numeric', month: 'long' }; %>
          <div class="time-period-information">
            <%= result.startDateTime.toLocaleDateString(undefined, options) %><br />
            to <br />
            <%= result.endDateTime.toLocaleDateString(undefined, options) %>
          </div>
        </div>
        <div class="icon-section">
          <div class="icon-container">
            <i
              class="fa-regular fa-pen-to-square fa-xl"
              style="color: #f5cb5c"
              data-icon-type="edit-icon"
              data-theme-id="<%=result.id %>"
              data-theme-name="<%=result.themeName %>"
              data-theme-information="<%=result.themeInformation %>"
              data-start-date-time="<%=result.startDateTime %>"
              data-end-date-time="<%=result.endDateTime %>"
              data-image-url="<%= result.image_url %>"
              data-page="<%= result.page %>"
              data-existing="<%= result.existing %>"
            ></i>
          </div>
          <div class="icon-container">
            <i class="fa-regular fa-trash-can fa-xl delete-icon" style="color: #f5cb5c" data-theme-id="<%= result.id %>"></i>
          </div>
        </div>
      </div>

      <% index++; %> <% }); %> <% } %> <% } %>
      <div class="theme-submit-new-container">
        <button class="btn btn-primary" data-page="themes" data-existing="false" id="new-theme-button">New Theme</button>
      </div>
      <!-- <h1>test</h1> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/node_modules/filepond/dist/filepond.js"></script>
    <%- include('../partials/modal') %>
    <script src="/scripts/modal.js" type="module"></script>
  </body>
</html>
